$breakpoint-mobile: 576px;
//$breakpoint-tablet: 992px;
$breakpoint-tablet: 1140px;

$background-color: #262216;
$font-color: #b0a18e;
$logo-color: #97743a;
$accent-color: #7e6016c0;
$accent-color-1: #49412c;
$accent-color-2: #352e1e;

$title-font: 'Cute Font';